<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-eval' data: gap: https://ssl.gstatic.com; style-src 'self' 'unsafe-inline' 'unsafe-eval'; media-src * blob:">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="vis/roplot.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <title>Roplot</title>
    </head>
    <body>

        <div id="vueapp" class="container-fluid">

            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2" style="background-color: #e3f2fd;">
                <a class="navbar-brand" data-page="home" href="#"><img src="img/logo.svg" height="40" class="d-inline-block align-top" alt="Roplot"></a>
                <form class="form-inline ml-auto">
                    <btn-is-connected v-bind:printer="selectedPrinter"></btn-is-connected>
                </form>  
            </nav>       

            <div class="sidebar-printer" v-show="visiblePrinterList">
                <div class="row mb-2">
                    <div class="col text-right">
                        <button class="btn btn-outline-secondary" v-on:click="closePrinterList">Close</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Printers Nearby
                        <div class="float-right"><btn-refresh-printers v-bind:is-scanning="isScanningForPrinters" v-show="selectedPrinter===null"></btn-refresh-printers></div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <printer-item v-for="printer in printers" v-bind:printer="printer" v-bind:key="printer.id"></printer-item>
                    </ul>
                    <div v-if="printers.length == 0 && !isScanningForPrinters" class="card-body">
                        <p>No printers available.</p>
                    </div>
                    <div v-if="isScanningForPrinters" class="card-body">
                        <p><icon name="spinner" pulse></icon> Looking for printers...</p>
                    </div>
                </div>
            </div>

            <roplot-vis v-bind:printer="selectedPrinter"></roplot-vis>

        </div>

        <!-- ******************************* TEMPLATES ******************************* -->

        <!-- Printer list item -->
        <script type="text/x-template" id="template-print-item">
            <li class="list-group-item d-flex justify-content-between align-items-center" @click="toggleConnect" :class="{active:printer.isConnected}">
                <span v-if="printer.isConnecting">
                    <icon name="sync" spin></icon> Connecting to {{ printer.name }}...
                </span>
                <span v-else>
                    <icon name="print"></icon> {{ printer.name }}
                </span>
                <span v-if="printer.isConnected">
                    <button class="btn btn-xs btn-danger">Disconnect</button>
                </span>
            </li>
        </script>

        <!-- Printer connected button -->
        <script type="text/x-template" id="template-btn-printer-connect">
            <button type="button" :class="{ btn: true, 'btn-success': isConnected, 'btn-outline-danger': !isConnected, 'pulse-border':!isConnected }" v-on:click="showPrinterList">
                <icon name="print"></icon> 
                <span v-if="isConnected">Manage</span>
                <span v-else>Connect</span>
            </button>
        </script>
        
        <!-- Printer list refresh button -->
        <script type="text/x-template" id="template-btn-printer-refresh">
            <button type="button" :class="{ btn: true, 'btn-info': !isScanning, 'btn-outline-secondary': isScanning }" v-on:click="refresh">
                <icon v-if="isScanning" name="sync" spin></icon>
                <icon v-else name="sync"></icon>
            </button>
        </script>

        <!-- Printer list refresh button -->
        <script type="text/x-template" id="template-printer-vis">
            <div id="vis" class="vis ml-auto mr-auto"></div>
        </script>

        
        <!-- ******************************* Scripts ******************************* -->

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/d3.min.js"></script>
        <script type="text/javascript" src="js/vue.js"></script>
        <script type="text/javascript" src="js/vue-awesome.js"></script>

        <script type="text/javascript" src="js/print-manager.js"></script>
        <script type="text/javascript" src="vis/roplot.js"></script>
        <script type="text/javascript" src="js/index.js"></script>

    </body>
</html>
