body {
    padding: 0;
    margin: 0;
}

.cordova-camera-capture {
    position: absolute;
}

.cameraPreview {
    background-size: cover;
    background-repeat: none;
    height: 200px;
}

.svgPreview {
    width: 100%;
}